In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
sns.set_style('whitegrid')
%matplotlib inline

In [2]:
DA=pd.read_csv('Dataset A.csv')

In [3]:
DA

,Name,Email ID,Phone Number,Average Time on App (Minutes/Day),Total Purchase from App (Rupees/year),Average Time on Website (Minutes/Day),Total Purchase from Website (Rupees/year),Length of Membership (Year),Yearly Amount Spent (Minutes/year),Total Purchase of each customer (Rupees/year),Ratings given by customer (Out of 5)
0,Michael Stefenson,mstephenson@fernandez.com,3028039388,21.297837,4492,11.526953,6403,4.082621,6564.958054,10895,4
1,Hershal Stark,hduke@hotmail.com,9089646263,20.860382,2077,18.438460,4675,2.664034,7859.768360,6752,5
2,Allen Paul,pallen@yahoo.com,7071678287,25.778359,6254,17.973034,1640,4.104543,8750.278491,7894,3
3,Rebecca Ganguly,riverarebecca@gmail.com,3343675411,23.383813,3247,16.101074,8091,3.120179,7896.977495,11338,3
4,Stefen Potter,mstephens@davidson-herman.com,3760942236,23.771715,7708,14.728785,274,4.446308,7700.100022,7982,5
...,...,...,...,...,...,...,...,...,...,...,...
495,Jessica Lewis,lewisjessica@craig-evans.com,2938951583,29.478367,201,10.217509,8526,3.746573,7939.175212,8727,3
496,Katrina Kaif,katrina56@gmail.com,1810163196,25.152565,1374,19.751357,2950,3.576526,8980.784423,4324,5
497,Dale Stein,dale88@hotmail.com,2751936173,26.412986,8490,19.897084,7827,4.958264,9262.013901,16317,4
498,Christofer Wilson,cwilson@hotmail.com,5175585593,25.703370,9243,12.821889,845,2.336485,7705.051722,10088,4
499,Hannah Wilson,hannahwilson@davidson.com,8332497042,23.863669,8194,19.677405,6095,2.735160,8708.214811,14289,4

In [4]:
DA.describe()

,Phone Number,Average Time on App (Minutes/Day),Total Purchase from App (Rupees/year),Average Time on Website (Minutes/Day),Total Purchase from Website (Rupees/year),Length of Membership (Year),Yearly Amount Spent (Minutes/year),Total Purchase of each customer (Rupees/year),Ratings given by customer (Out of 5)
count,5.000000e+02,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000,500.000000
mean,5.469654e+09,24.929437,4756.140000,14.963452,4868.54000,3.533462,7978.577906,9624.680000,3.954000
std,2.612551e+09,2.909053,2804.249391,2.876747,2979.57251,0.999278,837.253306,4038.452321,0.825377
min,1.053311e+09,20.008966,102.000000,10.031415,119.00000,0.269901,6103.259974,973.000000,3.000000
25%,3.208662e+09,22.240235,2403.750000,12.330589,2241.75000,2.930450,7388.705017,6712.500000,3.000000
50%,5.354163e+09,24.897305,4644.500000,14.930876,4762.00000,3.533975,7983.092202,9817.000000,4.000000
75%,7.768053e+09,27.519510,7159.000000,17.502808,7631.00000,4.126502,8517.869934,12532.250000,5.000000
max,9.969679e+09,29.997169,9935.000000,19.984770,9958.00000,6.922689,9799.336650,19508.000000,5.000000

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X=DA[['Total Purchase from App (Rupees/year)','Total Purchase from Website (Rupees/year)','Average Time on App (Minutes/Day)','Average Time on Website (Minutes/Day)','Length of Membership (Year)','Yearly Amount Spent (Minutes/year)','Total Purchase of each customer (Rupees/year)']]
y=DA['Ratings given by customer (Out of 5)']

In [7]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=25)

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
predictions = logmodel.predict(X_test)

In [11]:
from sklearn.metrics import confusion_matrix

In [12]:
print(confusion_matrix(y_test, predictions))

[[30  5 12]
 [22  7  9]
 [28  6  6]]

In [13]:
from sklearn.metrics import classification_report

In [14]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           3       0.38      0.64      0.47        47
           4       0.39      0.18      0.25        38
           5       0.22      0.15      0.18        40

    accuracy                           0.34       125
   macro avg       0.33      0.32      0.30       125
weighted avg       0.33      0.34      0.31       125